# Xcode
DerivedData/
build/
*.xcworkspace
*.xcuserstate
*.xccheckout

# User-specific
*.xcuserdatad
*.xcuserdata/
*.orig

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Archives
*.xcarchive

# Temporary files
*.swp
*.lock
*.log
*.tmp

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode previews cache
__derived_data/
.idea/

